#Telegram bot token of the bot
VAALILAKANABOT_TOKEN=

#Telegram's numeric chat id of the admin chat
ADMIN_CHAT_ID=

#Base URL of the Discource server
BASE_URL=

#Full URL of the JSON file of the Discource introduction area
#Example: https://fiirumi.fyysikkokilta.fi/c/vaalipeli-2024/esittelyt/l/latest.json
TOPIC_LIST_URL=

#Full URL of the JSON file of the Discource questions area
#Example: https://fiirumi.fyysikkokilta.fi/c/vaalipeli-2024/kysymykset/l/latest.json
QUESTION_LIST_URL=

#All roles in the board, separated by a comma
#If some role contains a space, wrap the roles inside quotation marks
BOARD=

#All other elected roles, separated by a comma
#If some role contains a space, wrap the roles inside quotation marks
OFFICIALS=