#Telegram bot token of the bot
VAALILAKANABOT_TOKEN=

#Telegram's numeric chat id of the admin chat
ADMIN_CHAT_ID=

# ID of Google Sheets where applicants are added. You can get ID from URL
# like this https://docs.google.com/spreadsheets/d/<ID>/some/stuff
APPLICANT_SHEET_ID=

#Base URL of the Discource server
BASE_URL=

#Full URL of the JSON file of the Discource introduction area
#See Discourse documentation https://docs.discourse.org/#tag/Categories/paths/~1c~1{id}.json/get for formatting.
#Example: https://fiirumi.fyysikkokilta.fi/c/vaalipeli-2024/esittelyt/l/latest.json
TOPIC_LIST_URL=

#Full URL of the JSON file of the Discource questions area
#See Discourse documentation https://docs.discourse.org/#tag/Categories/paths/~1c~1{id}.json/get for formatting.
#Example: https://fiirumi.fyysikkokilta.fi/c/vaalipeli-2024/kysymykset/l/latest.json
QUESTION_LIST_URL=

#All roles in the board, separated by a comma
#If some role contains a space, wrap the roles inside quotation marks
BOARD=

#All other elected roles, separated by a comma
#If some role contains a space, wrap the roles inside quotation marks
OFFICIALS=